<h2>Test Handshake</h2>
<form action="/test_handshake" method="post">
  <p>
    <label for="provider">Provider:</label><br />
    <input type="text" name="provider" id="provider" /><br />
    <input type="submit" />
  </p>
</form>
